<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Harrie and Marie-Claire</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}" />
</head>
<body>
<div id="header" th:include="page :: headerAuthenticated"></div>

<div id="content">
    <div id="currentProfile" class="currentProfile">
        <h1 th:text="#{harrie.profile.profile}"></h1>

        <table class="klantList">
            <tr>
                <th align="left" th:text="#{harrie.klant.client}">Client</th>
                <th align="left" th:text="#{harrie.klant.clientactions}">Client Actions</th>
                <th align="left" th:text="#{harrie.klant.profilePicture}">Profile Picture</th>
            </tr>

            <tr class = "klantList">
                <td class="klantList">
                    <div class="klantAdresHeader"> <span th:text="${klant.email}"></span>
                        <span class="klantId" th:text="'(ID: ' + ${klant.id} + ')'"></span>
                        <table>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.password}">Password:</span></td>
                                <td><span class="klantInformation" th:text="${klant.password}">-</span></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr><br/></tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.firstName}">First Name:</span></td>
                                <td><span class="klantInformation" th:text="${klant.voornaam}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.prefix}">Prefix:</span></td>
                                <td><span class="klantInformation" th:text="${klant.tussenvoegsel}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.lastName}">Last Name</span></td>
                                <td><span class="klantInformation" th:text="${klant.achternaam}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.dateCreated}">Date Created</span></td>
                                <td><span class="klantInformation" th:text="${klant.datumAanmaak}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.dateModified}">Date Modified</span></td>
                                <td><span class="klantInformation" th:text="${klant.datumGewijzigd}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.klant.active}">Active</span></td>
                                <td><span class="klantInformation" th:text="${klant.klantActief}">-</span></td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td class = "klantList">
                    <span><a th:href="@{/klant/modify/{id}(id=${klant.id})}" th:text="#{harrie.actions.modify}">Modify</a></span><br />
                    <span><a th:href="@{/klant/tumble/{id}(id=${klant.id})}" th:text="#{harrie.actions.tumble}">Tumble Status</a></span><br />
                </td>

                <td class = "klantListProfilePicture">
                    <span><img class="profilePicture" th:src="@{'data:image/jpeg;base64,'+${plaatje}}" /></span>
                </td>

            </tr>
        </table>

        <br/><br/><br/>
        <!--TODO: Want -> lelijk-->

        <table class="adresList">
            <tr>

                <th align="left" >
                    <span th:text="#{harrie.adres.address}">Address</span>
                    <span><a th:href="@{/klant/adres/register}" th:text="'(' + #{harrie.adres.register} + ')'">Register address</a></span>
                </th>

                <th align="left" th:text="#{harrie.adres.addressActions}">Address Actions</th>

                <th align="left" th:text="#{harrie.adres.googleMaps}">Google Maps</th>
            </tr>

            <tr class = "adresList" th:each="adres : ${adresMap}"
                th:id="'adres' + ${adres.key.id}">
                <td class="adresList">
                    <div class="klantAdresHeader"> <span th:text="${adres.key.getStraatnaam()} + ' ' + ${adres.key.getHuisnummer()}"></span>
                        <span class="adresId" th:text="'(ID: ' + ${adres.key.id} + ')'"></span>
                        <span class="klantInformation" th:text="'(ID(ADRES)): ' + ${adres.value.id} + ')'">Value ID</span>
                        <table>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.adresType}">Adres Type:</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.adresTypeString}">Key Type</span></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr><br/></tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.street}">Straatnaam:</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.straatnaam}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.number}">Huisnummer:</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.huisnummer}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.prefix}">Toevoeging</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.toevoeging}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.zipcode}">Postcode</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.postcode}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.dateCreated}">Date Created</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.datumAanmaak}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.dateModified}">Date Modified</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.datumGewijzigd}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformationItem" th:text="#{harrie.adres.active}">Active</span></td>
                                <td><span class="klantInformation" th:text="${adres.key.adresActief}">-</span></td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td class = "adresList">
                    <span><a th:href="@{/klant/adres/modify/{id}(id=${adres.key.id})}" th:text="#{harrie.actions.modify}">Modify</a></span><br />
                    <span><a th:href="@{/klant/adres/tumble/{id}(id=${adres.key.id})}" th:text="#{harrie.actions.tumble}">Tumble Status</a></span><br />
                </td>

                <td class = "adresList">
                    <span class = "klantInformation" th:text="#{harrie.adres.googleMaps}"></span>
                </td>

            </tr>

        </table>
    </div>


    <br/>

</div>

<div id="footer" th:include="page :: copy"></div>
</body>
</html>
