<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Harrie and Marie-Claire</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}" />
</head>
<body>
<div id="header" th:include="page :: headerAuthenticated"></div>

<div id="content">

    <div>
        <h1>Klantenlijst</h1>
        <table class="klantList">
            <tr>
                <th align="left">Client</th>
                <th align="left">Actions</th>
            </tr>

            <tr class = "klantList" th:each="klant : ${klantenList}"
                th:id="'spittle_' + ${klant.getId()}">
                <td class="klantList">
                    <div class="klandAdresHeader"> <span th:text="${klant.email}"></span>
                        <span class="klantId" th:text="'(ID: ' + ${klant.id} + ')'"></span>
                        <table>
                            <tr>
                                <td><span class="klantInformation">Password:</span></td>
                                <td><span class="klantInformation" th:text="${klant.password}">-</span></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr><br/></tr>
                            <tr>
                                <td><span class="klantInformation">First Name:</span></td>
                                <td><span class="klantInformation" th:text="${klant.voornaam}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformation">Prefix:</span></td>
                                <td><span class="klantInformation" th:text="${klant.tussenvoegsel}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformation">Last Name</span></td>
                                <td><span class="klantInformation" th:text="${klant.achternaam}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformation">Date Created</span></td>
                                <td><span class="klantInformation" th:text="${klant.datumAanmaak}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformation">Date Modified</span></td>
                                <td><span class="klantInformation" th:text="${klant.datumGewijzigd}">-</span></td>
                            </tr>
                            <tr>
                                <td><span class="klantInformation">Active</span></td>
                                <td><span class="klantInformation" th:text="${klant.klantActief}">-</span></td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td class = "klantList">
                    <span><a th:href="@{/klant/select/{id}(id=${klant.id})}">Select</a></span><br />
                    <span><a th:href="@{/klant/modify/{id}(id=${klant.id})}">Modify</a></span><br />
                    <span><a th:href="@{/klant/delete/{id}(id=${klant.id})}">Tumble Status</a></span><br />
                </td>

                <td class = "klantListProfilePicture">
                    <span><img class="profilePicture" th:src="@{'data:image/jpeg;base64,'+${plaatjesList.get((klant.id - 1))}}" /></span>
                </td>

            </tr>
        </table>
    </div>

</div>

<div id="footer" th:include="page :: copy"></div>
</body>
</html>
