<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Harrie and Marie-Claire (Exotic Diners and Clothing Inc.</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}" />
</head>

<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1 th:text="#{harrie.home.welcome}"></h1>

    <span><a th:href="@{/klant/profile}" th:text="#{harrie.home.profile}">Profile</a></span>
        <span> | </span>
    <span><a th:href="@{/klant/klanten}" th:text="#{harrie.home.clients}">Clients</a></span>
        <span> | </span>
    <!--TODO: Vanuit session klant ophalen en doorsturen naar juiste klant -->
    <span><a th:href="@{/klant/register}" th:text="#{harrie.home.register}">Register</a></span>
        <span> | </span>
    <span><a th:href="@{/artikel/}" th:text="#{harrie.home.products}">Products</a></span>
        <span> | </span>
    <span><a th:href="@{/bestelling/}" th:text="#{harrie.home.orders}">Orders</a></span>

    <span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" th:value="#{harrie.home.logout}" />
        </form>
    </span>

    <br/>

</div>

<div id="footer" th:include="page :: copy"></div>

</body>
</html>
