<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <!--IS CONTROLLED IN SEPARATE HTML'S-->
</head>

<body id="home">

<!-- AUTHENTICTED -->
<div class="header" th:fragment="headerAuthenticated">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand logo" th:href="@{/}">Harrie &amp; Marie-Claire </a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Harrie <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/artikel/}">Meat</a></li>
                            <li><a th:href="@{/artikel/}">Fish</a></li>
                            <li><a th:href="@{/artikel/}">Greenies</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marie-Claire <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/artikel/}">Big Animals</a></li>
                            <li><a th:href="@{/artikel/}">Small Animals</a></li>
                            <li><a th:href="@{/artikel/}">Other</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/about}">About</a></li>
                            <li><a th:href="@{/about}">Terms</a></li>
                            <li><a th:href="@{/about}">Contact</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li><a th:href="@{/login}" data-target="#login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a th:href="@{/klant/register}" data-target="#login"><span class="glyphicon glyphicon-user"></span>  Register</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle cart" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Cart
                            <span class="cart-counter" th:text="${shoppingCart.winkelwagen.size()}"></span> <span class="caret"></span></a>

                        <div class="dropdown-menu mini-cart">
                            <div class="row product-list" th:each="best,iterationStatus : ${shoppingCart.winkelwagen}">
                                <div class="col-xs-3"><a href="#"><img th:src="@{'data:image/jpeg;base64,'+${best.artikel.plaatje}}" class="img-responsive" alt="product" /></a></div>
                                <div class="col-xs-7"><a th:href="@{/artikel/select/{id}(id=${best.artikel.id})}" th:text="${best.artikel.artikelNaam}" name="artikelId">X</a></div>
                                <div class="col-xs-1"><a href="#"><i class="fa fa-close"></i></a></div>
                            </div>

                            <div class="clearfix">
                                <a th:href="@{/artikel/}" class="btn btn-primary">continue shopping</a> <a th:href="@{/bestelling/winkelwagen}" class="btn btn-primary">checkout</a>
                            </div>

                        </div>
                    </li>
                </ul>
            </div><!-- Wnavbar-collapse -->
        </div><!-- container-fluid -->
    </nav>

</div>

<!-- UNAUTHENTICTED -->
<div class="header" th:fragment="header">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand logo" th:href="@{/}">Harrie &amp; Marie-Claire </a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Harrie <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/artikel/}">Meat</a></li>
                            <li><a th:href="@{/artikel/}">Fish</a></li>
                            <li><a th:href="@{/artikel/}">Greenies</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marie-Claire <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/artikel/}">Big Animals</a></li>
                            <li><a th:href="@{/artikel/}">Small Animals</a></li>
                            <li><a th:href="@{/artikel/}">Other</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/about}">About</a></li>
                            <li><a th:href="@{/about}">Terms</a></li>
                            <li><a th:href="@{/about}">Contact</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li><a th:href="@{/login}" data-target="#login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a th:href="@{/klant/register}" data-target="#login"><span class="glyphicon glyphicon-user"></span>  Register</a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle cart" data-toggle="dropdown">-->
                    <!--<span class="glyphicon glyphicon-shopping-cart"></span> Cart-->
                    <!--<span class="cart-counter" th:text="${winkelwagen.size()}">0</span> <span class="caret"></span></a>-->

                    <!--<div class="dropdown-menu mini-cart">-->
                    <!--<div class="row product-list">-->
                    <!--<div class="col-xs-3"><a href="#"><img th:src="@{/resources/images/photos/1.jpg}" class="img-responsive" alt="product" /></a></div>-->
                    <!--<div class="col-xs-7"><a href="#">White V-neck Tshirt</a></div>-->
                    <!--<div class="col-xs-1"><a href="#"><i class="fa fa-close"></i></a></div>-->
                    <!--</div>-->

                    <!--<div class="row product-list">-->
                    <!--<div class="col-xs-3"><a href="#"><img th:src="@{/resources/images/photos/2.jpg}" class="img-responsive" alt="product" /></a></div>-->
                    <!--<div class="col-xs-7"><a href="#">White V-neck Tshirt</a></div>-->
                    <!--<div class="col-xs-1"><a href="#"><i class="fa fa-close"></i></a></div>-->
                    <!--</div>-->

                    <!--<div class="clearfix">-->
                    <!--<a th:href="@{/bestelling/catalogus}" class="btn btn-primary">continue shopping</a> <a th:href="@{/bestelling}" class="btn btn-primary">checkout</a>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </div><!-- Wnavbar-collapse -->
        </div><!-- container-fluid -->
    </nav>

</div>


<div>
    CONTENT GOES HERE
</div>

<div th:fragment="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 sitemap">
                    <h4>Sitemap</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>


                <div class="col-sm-3 subscribe">
                    <h4>Enquiries</h4>
                    <p> Konijnenlaan 2 <br />
                        2243 ES Wassenaar <br />
                        The Netherlands</p>

                    <i class="fa fa-envelope"></i> hmc@hmc.nl<br />
                    <i class="fa fa-phone"></i> +31 0318-362547<br />
                </div>
                <div class="col-sm-3 joinus">
                    <h4>Subscribe</h4>
                    <div class="input-group"><input type="text" class="form-control" placeholder="Your Name" /></div>
                    <div class="input-group"><input type="text" class="form-control email" placeholder="Your Email Address..." /></div>
                    <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Subscribe</button>
                </div>
                <div class="col-sm-3">
                    <h4>Like and follow us</h4>
                    <span class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </span>
                </div>


            </div>
            <!--/.row-->


            <!--/.footer-bottom-->
        </div>

    </footer>

    <div class="copyright">
        <div class="container">

            © Copyright AMD Development 2016
            <a href="http://admdevelopment.com" class="pull-right">ADM Development</a>

        </div>
    </div>
</div>


</body>

</html>