<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wijzig Artikel</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />


</head>
<body>
	<div id="header" th:include="page :: header"></div>

	<div id="content">
		<h1 th:text="#{harrie.products.wijzig}"></h1>

		<form method="POST" th:object="${artikelRegisterForm}"
			enctype="multipart/form-data">

			<div class="errors" th:if="${#fields.hasErrors('*')}">
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>

			<table class= "center">
				<tr>
					<span><img class="productPicture"
						th:src="@{'data:image/jpeg;base64,'+${plaatje}}" /></span>
				</tr>
				<tr>
					<div>
						<table class = "center">
							<tr>
							<td><label th:text="#{harrie.products.wijzigAfbeelding}"></label>:</td>
							<td><input type="file" name="artikelAfbeelding"
							accept="image/jpeg,image/png,image/gif" /></td>
							</tr>
						</table>
					</div>
				</tr>
			
				<tr class="center">
					<td>
						<div>
							<table class="center">
								<tr>
									<td><label
										th:class="${#fields.hasErrors('artikelNaam')}? 'error'"
										th:text="#{harrie.products.naam}"></label>:</td>
									<td><input type="text" th:field="*{artikelNaam}"
										th:class="${#fields.hasErrors('artikelNaam')}? 'error'" /></td>
								</tr>
								<tr>
									<td><label
										th:class="${#fields.hasErrors('artikelPrijs')}? 'error'"
										th:text="#{harrie.products.prijs}"></label>:</td>
									<td><input type="text" th:field="*{artikelPrijs}"
										th:class="${#fields.hasErrors('artikelPrijs')}? 'error'" /></td>
								</tr>
								<tr>
									<td><label
										th:class="${#fields.hasErrors('artikelLevertijd')}? 'error'"
										th:text="#{harrie.products.levertijd}"></label>:</td>
									<td><input type="text" th:field="*{artikelLevertijd}"
										th:class="${#fields.hasErrors('artikelLevertijd')}? 'error'" /></td>
								</tr>
								<tr>
									<td><label
										th:class="${#fields.hasErrors('artikelOpVoorraad')}? 'error'"
										th:text="#{harrie.products.opVoorraad}"></label>:</td>
									<td><input type="checkbox" th:field="*{artikelOpVoorraad}"
										th:class="${#fields.hasErrors('artikelOpVoorraad')}? 'error'" /></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
					
			</table>

			<input type="submit" value="What does this button do?" /> <input
				type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>

	</div>

	<div id="footer" th:include="page :: copy"></div>
</body>
</html>